{% extends 'base.html' %} {% block content %}
<div class="bg-white py-12 sm:py-24 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        Contact us
      </h2>
      <hr class="my-6 border-2 border-indigo-800 w-1/6 mx-auto" />
      <p class="mt-4 text-xl leading-8 text-gray-600">
        Contact us for detailed insights into our products and services or to
        share your feedback. We're eager to assist you.
      </p>
    </div>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2">
        {% for contact in contacts %}
        <div
          class="flex flex-col items-center rounded-xl bg-gray-50 p-8 shadow-lg hover:shadow-2xl transition-shadow duration-300"
        >
          <img
            class="h-32 w-32 rounded-full object-cover mb-4"
            src="{{contact.image.url}}"
            alt="{{contact.name}}"
          />
          <div class="text-center">
            <h3 class="text-xl font-semibold leading-7 text-gray-900 mb-2">
              {{contact.title}}: {{contact.name}}
            </h3>
            <dl class="space-y-2">
              <dt class="sr-only">Email</dt>
              <dd class="text-lg text-indigo-600">
                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
              </dd>
              <dt class="sr-only">Phone number</dt>
              <dd class="text-md text-gray-500">+977-{{contact.phone}}</dd>
            </dl>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
